<h1>Editing Expertise Widget Attachment</h1>

<%= render 'form', expertise_widget_attachment: @expertise_widget_attachment %>

<%= link_to 'Show', @expertise_widget_attachment %> |
<%= link_to 'Back', expertise_widget_attachments_path %>
