<div id="tanks_call_request" style="display: none;">
  <img src="<%= root_url %>/img/checked-icon.png" alt="" style="height: 150px;">
  <div class="text-center" style="margin-top: 40px;">
    <h2>
      Successfully recevied your booking.
    </h2>
    <p>
      We will call you in the next 30 minutes.
    </p>
  </div>
</div>
