<div id="tanks_call_request" style="display: none;">
  <img src="<%= root_url %>/img/checked-icon.png" alt="" style="height: 150px;">
  <div class="text-center" style="margin-top: 40px;">
    <h2>درخواست شما ثبت شد</h2>
    <p>ممنون از درخواست شما</p>
    <p>متخصصین ما در زمان تعیین شده با شما تماس می گیرند</p>
  </div>
  <div class="row mt-4">
    <div class="col">
      <div class="btn-group" style="direction: ltr;">
        <a href="https://pro.kadro.me" class="btn btn-info" style="background-color: #343a40; border-color: #343a40;">
          لیست عکاس ها و آتلیه ها
        </a>
        <a href="<%= galleries_url %>" class="btn btn-outline-primary">
          آلبوم من
        </a>
      </div>
    </div>
  </div>
</div>
