<p> سلام <%= @resource.email %> عزیز!</p>

<p> یک درخواست برای تغییر رمز عبور شما دریافت کرده ایم، می توانید از طریق لینک زیر این کار را انجام دهید.</p>

<p><%= link_to 'تغییر رمز عبور من', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>اگر این درخواست از طرف شما نبوده است، لطفا آنرا نادیده بگیرید.</p>
<p>رمز عبور شما تا زمانیکه از لینک بالا وارد نشوید و رمزتان را تغییر ندهید عوض نخواهد شد.</p>

<p style="text-align:center">
  <%= link_to "https://www.kadro.co" do %>
    <%= image_tag "https://app.kadro.co/img/logo.png" %>
  <% end %>
</p>
