<section class="fdb-block py-0">
  <div class="container py-5 my-5" style='background-image: url(<%=assets_url("/types/imgs/shapes/2.svg")%>);'>
    <div class="row justify-content-center py-5">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <div class="fdb-box">
          <h2>
            خودت مکانی برای عکاسی میشناسی؟
          </h2>
          <p class="lead">
            هر جا که دوست داری، عکاستو رزرو کن و همون جا عکاسی تو انجام بده
          </p>
          <p class="mt-4 text-center">
            <a class="btn btn-primary btn-lg" href="https://app.kadro.co/book" id="kadro land cta">
              رزرو عکاس
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
