<%= track(@photographer.id, "Project Reminder" , @photographer.email,0,"photographer") %>
<h1>Project#reminder_to_ph</h1>

<p>
  <%= @greeting %>, find me in app/views/project_mailer/reminder_to_ph.html.erb
</p>
