<% users = current_admin_user.business.users %>
<div style="direction:rtl !important;">
  <table class="table table-hover table-bordered">
    <tr>
      <th class="text-center">نام کاربر</th>
      <th class="text-center">تاریخ ثبت نام</th>
      <th class="text-center">تعداد ورود</th>
      <th class="text-center">آخرین زمان ورود</th>

    </tr>
    <% users.each do |user| %>
    <tr>
      <td>
          <%= user.display_name %>
      </td>

      <td>
        <%= time = user.created_at %>
      </td>

      <td>
        <%= user.sign_in_count %>
      </td>

      <td>
        <% if user.last_sign_in_at.present? %>
        <%= login_time = user.last_sign_in_at %>
       </td>
        <% end %>

      </tr>
      <% end %>
    </table>
  </div>
