<% date = "" %>
<% activities.each do |activity| %>
  <div class="row text-center">
    <% unless date.present? %>

      <% date = activity.created_at.to_date %>
      <strong style="font-size: large; color: coral"><%= activity.created_at.to_date.to_pdate %></strong>

    <% end %>
    <% unless activity.created_at.to_date == date %>
      <strong style="font-size: large; color: coral"><%= activity.created_at.to_date.to_pdate %></strong>

      <% date = activity.created_at.to_date %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12" style="direction: rtl !important; ">

      <div style="font-size: 18px">
        <small style="color: #1b1f1f91"> <%= activity.created_at.strftime("%I:%M%p") %> </small>
        -
        <%= render_activity(activity) %>
      </div>
    </div>
    <br>
  </div>
  <hr style="width: 30%; margin-right: 0px">
<% end %>
