
<div id="tanks_submited" style="display: none;">
  <img src="<%= root_url %>/img/checked-icon.png" alt="" style="height: 150px;">
  <div class="text-center" style="margin-top: 40px;">
    <h2>درخواست شما ثبت شد</h2>
    <p>ممنون از درخواست شما</p>
    <p>متخصصین ما در اسرع وقت با شما تماس می گیرند</p>
  </div>
</div>
