<hr>
<div class="col-xs-12">
  <%= link_to "https://www.instagram.com/kadro.official/" , :class => "text text-default"  do %>
  <h4>
    اینستاگرام کادرو
  </h4>
  <p>
    برای اطلاع از آخرین اخبار کادرو، صفحه ما در اینستاگرام را دنبال کنید:
    <br>@kadro.official
    </p>
  <% end %>

</div>
