<section class="fdb-block py-4">
  <div class="container bg-l py-5 my-5" style="background-image: url(/types/imgs/shapes/4.svg);">
    <div class="row py-5">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 text-left">
        <h2>
          دنبال ساخت تیزر هستی؟
        </h2>
        <p class="lead text-dark">
          نمونه کارها رو ببین و درخواستت رو ثبت کن، مشاورت باهات تماس میگیره و بهترین پیشنهاد قیمتی رو بهت ارائه میده.
        </p>
        <p class="mt-4 text-center">
          <a class="btn btn-warning" href="<%=new_video_leads_url%>"> ثبت درخواست </a>
        </p>
      </div>
    </div>
  </div>
</section>