<div class="process-tab-button tracker-circle selected" style="right: 0%;">
  <div class="tracker-text">
    پکیج
  </div>
</div>
<div class="process-tab-button tracker-circle selected" style="right: 33.3333%;">
  <div class="tracker-text">
    کی و کجا؟
  </div>
</div>
<div class="process-tab-button tracker-circle" style="right: 66.6667%;">
  <div class="tracker-text">
    عکاس
  </div>
</div>
<div class="process-tab-button tracker-circle" style="right: 100%;">
  <div class="tracker-text">
    جزئیات
  </div>
</div>
