<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  <!-- Custom styles for this template -->
  <!-- <link href="css/one-page-wonder.min.css" rel="stylesheet"> -->
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="https://www.kadro.me"> kadro photographers club </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="<%=studio_photographer_path(current_photographer)%>"> استودیوی من </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.kadro.me"> صفحه اصلی </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0"> هدیه کادرو به عکاسان </h1>
        <h2 class="masthead-subheading mb-0">به مناسبت روز عکاس - ۱۳۹۷ </h2>
        <!-- <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a> -->
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="/img/navaak-logo.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4" style="color:#7f5b80">
              برای اونهایی که عاشق موسیقی هستند
            </h2>
            <p>
              می تونید با کد اعتبار زیر به مدت یک ماه از سرویس ویژه اپلیکیشن
              موسیقی نواک استفاده کنید
            </p>
            <h4 style="color:#7f5b80">
              code:
              welcometokadro
            </h4>
            <hr>
            <a href="https://navaak.com/kadro" class="btn  btn-xl rounded-pill mt-5" style="background-color: #7f5b80;border-color: #7f5c80;color:white;"> از اینجا شروع کنید </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="/img/bookingvilla.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4 text-info"> و یا اجاره ویلا برای سفر و گردش</h2>
            <p>
              کد تخفیف ۱۰۰ هزار تومانی برای خرید های بیشتر از ۵۰۰ هزار تومان مخصوص رزرو اول
            </p>
            <h4 class="text-info">
              code:
              welcometokadro100
            </h4>
            <hr>
            <p>
              کد تخفیف ۵۰ هزار تومانی برای خرید های بیشتر از ۲۰۰ هزار تومان مخصوص رزرو اول
            </p>
            <h4 class="text-info">
              code:
              welcometokadro50
            </h4>
            <a href="https://bookingvila.com/" class="btn btn-info btn-xl rounded-pill mt-5"> برای رزرو شروع کنید </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="/img/blito.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4 text-warning"> کنسرت و موسیقی و دورهمی های باحال</h2>
            <p style="direction:rtl;">
              پنجاه
              درصد تخفیف برای
              <br>
              رویداد های بازی
              <br>
              سینما
              <br>
              و کنسرت های منتخب
              <br>
              قبل از استفاده تماس بگیرید:
              <br>
              <br>
              <span class="btn btn-warning" >
                ۰۲۱۸۸۳۵۰۵۳۶
              </span>
            </p>
            <h4 class="text-warning">
              code:
              welcometokadro
            </h4>
            <hr>
            <a href="http://blito.ir/" class="btn btn-warning btn-xl rounded-pill mt-5"> برای گرفتن بلیط کلیک کنید </a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="/img/yadease.png" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4 text-success"> و گاهی هم آموختن و آموزش </h2>
            <p>
              بیست هزار تومان اعتبار برای خرید بسته های آموزشی متنوع از اپلکیشن یادیس
            </p>
            <h4 class="text-success">
              code:
              hellokadro
            </h4>
            <hr>
            <a href="http://yadease.com/" class="btn btn-success btn-xl rounded-pill mt-5"> از اینجا اپلیکیشن رو دانلود کنید </a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid" src="/img/dadsun.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4" style="color:#f68e57;"> یا یک وکیل و مشاور حرفه ای </h2>
            <p>
              می تونید با ۱۵٪ تخفیف از خدمات دادسان برای مشاوره با هر
              وکیل در حوزه های تخصصی استفاده کنید
            </p>
            <hr>
            <h4 style="color:#f68e57;">
              code:
              welcometokadro
            </h4>
            <a href="https://dadsun.ir/" class="btn btn-xl rounded-pill mt-5"style="background-color: #f68e57;
            border-color: #f68e57;color:white;"> رزرو وکیل </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="/img/tagmond.png" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5" style="direction: rtl;">
            <h2 class="display-4 " style="color:#0A2D86;"> خرید پوشاک و اکسسوری از تگموند </h2>
            <p>
              ۲۵۰۰۰
              تومان تخفیف برای خرید های بالای ۱۵۰ هزار تومان
            </p>
            <h4 style="color:#0A2D86;">
              code:
              wlc_kadro25
            </h4>
            <hr>
            <p>
              ۳۵۰۰۰
              تومان تخفیف برای خرید های بالای ۲۵۰ هزار تومان
            </p>
            <h4 style="color:#0A2D86;">
              code:
              wlc_kadro35
            </h4>
            <a href="https://tagmond.com/" class="btn btn-xl rounded-pill mt-5" style="background-color: #052782;
            border-color: #052782;color:white;"> از اینجا اپلیکیشن رو دانلود کنید </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid" src="/img/laminor.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4" style="color:#F10020;"> و اگر دوست داری گیتار یاد بگیری </h2>
            <p style="direction:rtl;">
              ۲۰.۰۰۰ تومان
              کد تخفیف برای خرید محصولات آموزشی گیتار از لامینور
            </p>
            <hr>
            <h4 style="color:#F10020;">
              code:
              welcometokadro
            </h4>
            <a href="http://learn.laminor.ir" class="btn btn-xl rounded-pill mt-5"style="background-color: #F10020;
            border-color: #F10020;color:white;"> خرید پکیج آموزشی گیتار </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="/img/photographersdayposter.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; kadro photography marketplace 2018</p>
    </div>
    <!-- /.container -->
  </footer>


</body>

</html>
