@font-face{font-family:'iranyekan-bold';font-style:normal;font-weight:bold;src:url("/fonts/iranyekanwebbold.eot");src:url("/fonts/iranyekanwebbold.eot?#iefix") format("embedded-opentype"),url("/fonts/iranyekanwebbold.woff2") format("woff2"),url("/fonts/iranyekanwebbold.woff") format("woff"),url("/fonts/iranyekanwebbold.ttf") format("truetype")}@font-face{font-family:'iranyekan-light';font-style:normal;font-weight:300;src:url("/fonts/iranyekanweblight.eot");src:url("/fonts/iranyekanweblight.eot?#iefix") format("embedded-opentype"),url("/fonts/iranyekanweblight.woff2") format("woff2"),url("/fonts/iranyekanweblight.woff") format("woff"),url("/fonts/iranyekanweblight.ttf") format("truetype")}@font-face{font-family:'iranyekan';font-style:normal;font-weight:normal;src:url("/fonts/iranyekanwebregular.eot");src:url("/fonts/iranyekanwebregular.eot?#iefix") format("embedded-opentype"),url("/fonts/iranyekanwebregular.woff2") format("woff2"),url("/fonts/iranyekanwebregular.woff") format("woff"),url("/fonts/iranyekanwebregular.ttf") format("truetype")}
h1,h2,h3,h4,h5,p,span{
  font-family:"iranyekan-light" !important;
}

@import 'pygments.css';
@import 'variables_and_mixins';
@import 'navbar';
@import 'general';
@import 'article';
@import 'pagination';
@import 'footer';
@import 'media_queries';
@import 'lines_overrides';
@import 'messages';
@import 'bootstrap.min';

