<section id="main">
  <div class="container">
    <div class="main">
      <div class="wrapper">
        <div class="row">
          <div class="col-sm-6" id="final-details">
            <h3>
              <span class="text-danger">
                <%= @error %>
              </span>
            </h3>
          </div>
        </div>
      </div><!-- /.wrapper -->
    </div><!-- /.main -->
  </div><!-- /.container -->
</section>




