<div class="row my-4">
<div class="col-6 col-md-4 cart-table">
  <strong><%= t(:'carts.item_total') %>: <%= total.item_total.to_i %></strong>
</div>
<div class="col-6 col-md-4 cart-table">
  <strong><%= t(:'carts.cart_total') %>: <%= total.cart_total.to_i %></strong>
</div>
</div>