<script type="text/javascript" src='https://maps.google.com/maps/api/js?key=AIzaSyBqAlo6eTQeSbkOn3xYIjJ4e1zr4ewrSxU&sensor=false&libraries=places&language=fa&region=IR'></script>
<%= javascript_include_tag "locationpicker.jquery"%>
<%= javascript_include_tag "persianDatePicker" %>
<section id="main">
  <div class="container">
    <div class="main">
      <%= form_tag( '/admin/cities', :method => :post ) do %>
      <input type="text" id="latitude" name="latitude" style="display:none"  />
      <input type="text" id="longitude" name="longitude" style="display:none" />
      <br>
      <div class="col-sm-6">
      <input class="form-control mytextbox" type="text" name="name" id="name" placeholder="نام شما" required="">
      <input class="form-control mytextbox" type="text" id="eng_name" name="eng_name"  placeholder="نام خانوادگی تون " required="">
        <div id="map" style="width: 200%; height: 400px;"></div>
        <!-- <div class="text-left">
        <input type="button" value="موقعیت الان" id="myButton1" onclick="getLocation_home()" class="btn btn-gray"></input>
      </div> -->
    </div>
    <button type="submit" id="submit_page_form" class="btn btn-blue">ذخیره و ادامه</button>
    <% end %>
  </div>
</div>
</section>


<script>
$(document).ready(function () {

  $('#map').locationpicker({
    location: {
      latitude: 35.806937,
      longitude: 51.4281577
    },
    inputBinding: {
      locationNameInput: $('#location'),
      longitudeInput: $('#long'),
      latitudeInput: $('#latt')
    },
    // enableReverseGeocode: true,
    zoom: 15,
    draggable: true,
    markerDraggable: true,
    radius: 500,
    // enableAutocompleteBlur: true,
    // markerInCenter: true,
    enableAutocomplete: true,
    autocompleteOptions: {
      strictBounds: true,
      componentRestrictions: {country: 'ir'},
      types: ['address']
    },
    onchanged: function (currentLocation, radius, isMarkerDropped) {
      $('.address-detail , .calendar ').removeClass('hidden');
    },
    oninitialized: function(component) {
      $('#location').val("");
    }
  });
});
</script>

<script>
$(document).ready(function () {


  $('#submit_page_form').click(function(){
    $('#form1').submit();
  })

  // check location input for show other inputs
  $('#location').on('change keyup', function () {
    var txtBox = $(this).val().length;
    console.log(txtBox);
    if (txtBox > 3) {
      // $('.address-detail , .calendar ').removeClass('hidden');
      // $('#continue').removeClass('disabled');
    } else {
      // $('.address-detail , .calendar ').addClass('hidden');
      $('#continue').addClass('disabled');
    }
  });

  $('#address-detail').on('change keyup', function () {
    var txtBox = $(this).val().length;
    if (txtBox > 3) {
      // $('#date-holder').removeClass('hidden');
    } else {
      // $('.address-detail , .calendar ').addClass('hidden');
      // $('#continue').addClass('disabled');
    }
  });


  $('#form1').parsley().on('field:validated', function () {
    $('.email, .phone, .map').removeClass('hidden');
  }).on('form:submit', function () {
  });
});
</script>

<!-- date-picker  -->
