
<dic class="container">
  <div class="row">
    <div class="col-md-7 col-md-offset-3 well">
      خوش آمدید
    </div>
  </div>
</div>


<dic class="container">
  <div class="row">
    <div class="col-md-7 col-md-offset-3 well">
      ما در کادرو
      <%= Photographer.all.count %>
      عکاس داریم در حال حاضر
    </div>
  </div>
</div>


<div class="alert alert-danger text-left">

  <button class="btn btn-default btn-large">
    BUTTON
  </button>

  <span class="label label-default">New</span>

DIV

</div>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
    <span class="sr-only">60% Complete</span>
  </div>
</div>

<div class="my_red" >

DIV

</div>
<div class="my_red">

DIV

</div>
