<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <a class="footer-logo" href="https://www.kadro.me" rel="home">
          <img src="/img/kadro_white.png"
               alt="کادرو" id="logo-main">
        </a>
      </div>
      <div class="col-sm-8">
        <div class="footer-menu">
          <ul id="footer-menu" class="menu">
            <!-- <li id="menu-item-1018"
            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1018"><a
            href="https://goo.gl/forms/DZZgFY6wflxCkKnJ2">ثبت شکایات و انتقادات</a></li> -->
          </ul>
        </div>
      </div>
      <div class="col-sm-2">
        <ul class="socials">
          <li class="Instagram">
            <a href="http://instagram.com/kadro.official"
               title="اینستاگرام "
               target="_blank"></a>
          </li>
          <li class="Twitter">
            <a href="http://twitter.com/@kadro_co"
               title="twitter "
               target="_blank"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-content">
      <%= link_to destroy_user_session_path, :confirm => 'Are you sure?', class:"btn btn-info" do %>
      <span class="fa fa-sign-out"></span>
      خروج از گالری
      <% end %>
    <!-- <p>همه قیمت ها برای رزرو در <em>تهران</em> لیست شده اند و به <em>تومان</em> هستند.</p> -->
    <!-- <p>تهران - تجریش - دزاشیب - پلاک ۳۲ - واحد ۱ ------- شماره تماس: ۰۹۰۲۷۹۹۳۰۴۹ | ۲۸۴۲۵۲۲۰ - ۰۲۱</p></div> -->
  </div>
</footer><!-- #colophon -->
