<section class="fdb-block"  style="background-image: url(/types/imgs/shapes/8.svg)">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h2>
          ویژگی های عکاسی <%=@shoot_type.title%>
        </h2>
      </div>
    </div>
    <div class="row text-left mt-5">
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="row">
          <div class="col-3">
            <img class="img-fluid" alt="هفت روز ضمانت بازگشت مبلغ عکاسی" src="/img/home/guarantee.svg">
          </div>
          <div class="col-9">
            <h3><strong>
              ۷ روز ضمانت سرویس</strong></h3>
            <p>
              تا ۷ روز بعد از دریافت عکسها، می توانید در صورت عدم رضایت کل مبلغ را بازپس بگیرید.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 pt-3 pt-sm-0">
        <div class="row">
          <div class="col-3">
            <img class="img-fluid" alt="تحویل فایل اصلی عکسها در محل" src="/img/home/map-pin.svg">
          </div>
          <div class="col-9">
            <h3><strong> تحویل در محل </strong></h3>
            <p>
              می تونید عکسها رو در محل از عکاس بگیرید و همه عکسها رو از روی دوربین عکاس پاک کنید.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 pt-3 pt-lg-0">
        <div class="row">
          <div class="col-3">
            <img class="img-fluid" alt="تعرفه قیمت عکاسی" src="/img/home/trending-down.svg">
          </div>
          <div class="col-9">
            <h3><strong>قیمت ارزان  </strong></h3>
            <p>
              رقابتی ترین قیمت های عکاسی در محل، آتلیه یا فضای باز را در اینجا می توانید پیدا کنید.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 pt-3 pt-lg-0">
        <div class="row">
          <div class="col-3">
            <img class="img-fluid" src="/img/home/users.svg">
          </div>
          <div class="col-9">
            <h3><strong> عکاس خانم و آقا </strong></h3>
            <p>
              متناسب با نیاز خودتون، هم میتونید عکاس خانم رزرو کنید هم عکاس آقا، همه چیز با خودتونه
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-left pt-3 pt-lg-5">
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="row">
          <div class="col-3">
            <img class="img-fluid" src="/img/home/image.svg">
          </div>
          <div class="col-9">
            <h3><strong> چاپ عکس و شاسی </strong></h3>
            <p>
              خیلی راحت از آلبوم شخصی تون هر عکسی رو میخواهید سفارش چاپ عکس و شاسی بدید و دم در خونه تحویل بگیرید.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 pt-3 pt-sm-0">
        <div class="row">
          <div class="col-3">
            <img class="img-fluid" src="/img/home/crop.svg">
          </div>
          <div class="col-9">
            <h3><strong> ادیت نور و رنگ همه عکسها </strong></h3>
            <p>
              همه عکسهای شما، توسط عکاس ادیت نور و رنگ میشه، این شامل همه پکیج هاست.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 pt-3 pt-lg-0">
        <div class="row">
          <div class="col-3">
            <img class="img-fluid" src="/img/home/eye-off.svg">
          </div>
          <div class="col-9">
            <h3><strong>
              حریم شخصی
            </strong></h3>
            <p>
              عکسها فقط توسط شما و عکاس تون قابل مشاهده است و در صورت نیاز، کارشناس
              <strong class="text-dark"> خانم کادرو</strong>
              عکسها را برای کنترل کیفیت چک میکند.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 pt-3 pt-lg-0">
        <div class="row">
          <div class="col-3">
            <img class="img-fluid" src="/img/home/shield.svg">
          </div>
          <div class="col-9">
            <h3><strong>
              تعهد اخلاقی
            </strong></h3>
            <p>
              تمامی عکاسان کادرو قرارداد و ضمانت نقدی برای
              تعهد رعایت قوانین و مقررات کادرو تسلیم کرده اند.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render "types/sections/relevants", :@shoot_type=>@shoot_type%>
</section>