<header style="direction:ltr !important;" class="bg-dark">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="<%=root_path %>">
        <img src=<%=assets_url("/img/kadro_logo.png")%>  height="30" alt="image">
      </a>
      <button class="navbar-toggler btn-outline-success" type="button" data-toggle="collapse" data-target="#navbarNav5" aria-controls="navbarNav5" aria-expanded="false" aria-label="Toggle navigation">
        منو
      </button>
      <div class="collapse navbar-collapse" id="navbarNav5">
        <ul class="navbar-nav mr-auto" style="text-align:center">
            <li class="nav-item">
              <a class="nav-link" href="#features"> ویژگیها </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#prices"> تعرفه ها </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#how_works"> نحوه رزرو
                <span class="sr-only">(current)</span></a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#feed_backs"> بازخوردها </a>
            </li>
            <li class="nav-item">
              <a class="nav-link free-photography" style="color:#329ef7;" href="https://app.kadro.me/users/refer"> عکاسی رایگان </a>
            </li>
          </ul>
          <ul class="navbar-nav justify-content-end ml-auto text-center">
            <li class="nav-item">
              <a class="btn btn-outline-primary" href="<%=galleries_url%>"> آلبوم من </a>
              <a class="btn btn-primary" href="<%=book_url%>"> رزرو عکاس </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
