 <section class="fdb-block bg-dark" style="background-image: url(<%=assets_url("/types/imgs/hero/blue.svg")%>);">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2> چرا عکاسی با کادرو؟ </h2>
        </div>
      </div>
      <div class="row-70"></div>
      <div class="row text-center justify-content-sm-center no-gutters">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto">
          <div class="fdb-box fdb-touch">
            <h2> 'فایل' بگیرید </h2>
            <p style="text-align:justify">
              کادرو به شما فایل اصلی عکسها را می دهد. تمامی فایل های ادیت شده با سایز اصلی و اوریجینال دوربین در
              <span >
                قسمت "آلبوم من"
              </span>
              آپلود می شود. شما می توانید سفارش چاپ عکس نیز بدهید.
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto pt-5 pt-xl-0">
          <div class="fdb-box fdb-touch">
            <h2> حریمِ اَمن </h2>
            <p style="text-align:justify">
              فقط شما و عکاس تان به عکس ها دسترسی دارید. در صورتیکه شکایتی نسبت به
              عملکرد عکاس داشته باشید فقط یک نفر
              <strong>کارشناس خانم </strong> به درخواست شما عکسهای تان را بررسی می کند.
            </p>

          </div>
        </div>
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto pt-5 pt-xl-0">
          <div class="fdb-box fdb-touch">
            <h2> بازگشت مبلغ </h2>
            <p style="text-align:justify">
              با
              <strong class="text-bold">
                پرداخت امن کادرو
              </strong>
              مبلغی که می پردازید به عکاس واریز نمی شود تا زمانیکه عکاسی انجام شود و شما
              عکسها را ببینید
              <strong>و اعلام رضایت </strong>
              کنید تا مبلغ برای عکاس آزاد شود.
            </p>

          </div>
        </div>
      </div>
    </div>
  </section>
