<header id="masthead" class="site-header fixed" role="banner" style="position: absolute;">
  <div class="wrap">
    <div class="menu-button hidden-lg hidden-md">
      <button class="hamburger hamburger--stand" type="button"
              aria-controls="primary-menu"
              aria-expanded="false">
      <span class="hamburger-box">
      <span>
          منو</span>
        <!-- <span class="hamburger-inner"> -->
        <!-- </span> -->
      </span>
      </button>
    </div>
    <div class="site-branding" style="margin-right: 15px">
      <h1 class="site-title">
        <a href="<%=kadro_url%>"
           rel="home">
          <img src="https://kadro.co/wp-content/uploads/2017/05/logo_white-1.png"
               alt="کادرو" id="logo-main"><img
          src="https://kadro.co/wp-content/uploads/2017/05/logoWeb.png"
          alt="کادرو" id="logo-sticky">
        </a>
      </h1>
    </div><!-- .site-branding -->


    <nav id="site-navigation" class="main-navigation" role="navigation">
      <div class="main-menu">
        <ul id="primary-menu" class="menu">

          <li id="" class="menu-item menu-item-type-post_type menu-item-object-page "><a
            href="<%=pricing_url%>">
            قیمت عکاسی
          </a>
          </li>

          <li id="" class="menu-item menu-item-type-post_type menu-item-object-page "><a
          href="<%=shoot_location_root_url%>">
            مکان ها
          </a>
          </li>

          <li id="" class="menu-item menu-item-type-post_type menu-item-object-page ">
            <a href="<%=all_pros_url%>"> عکاسها و آتلیه ها</a>
          </li>

        </ul>
      </div>
      <div class="btn-group" style="display: contents">
        <a href="https://app.kadro.co/book" class="btn btn-blue" >رزرو عکاس</a>
        <a href="https://app.kadro.co/book" class="btn btn-default" style="color:black" >
          آلبوم من
        </a>
      </div>
    </nav><!-- #site-navigation -->
  </div>
</header><!-- #masthead -->
