<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script src="https://cdn.jsdelivr.net/npm/leaflet-locationpicker@0.3.4/src/leaflet-locationpicker.min.js"></script>
<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/leaflet-locationpicker@0.3.4/src/leaflet-locationpicker.min.css">

<div id="fixedMapCont" style=" height: 40rem; width: 100%; ">  </div>
<input id="work_map" type="text" style="width: 50rem;"/>

<input type="text" id="latitude" name="shoot_location[latitude]" style="display:none" />
<input type="text" id="longitude" name="shoot_location[longitude]" style="display:none" />

<input type="text" id="input" name="shoot_location[input]" style="display:none" />

<br>
<label for="shoot_location[detail]"> detail</label>
<% if object.address.present? %>
  <input type="text" id="detail" name="shoot_location[detail]" value="<%= object.address.detail %>" />
  <% else %>
    <input type="text" id="detail" name="shoot_location[detail]" />
    <% end %>


    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        var mapStyle = {
          "color": "#000000",
          "fillColor": "#000000",
          "weight": 2,
          "opacity": 1,
          "fillOpacity": 0.7
        };

        var map = L.map('work_map').setView([35.7745054, 51.3967018], 6);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        var marker;
    

        var latitude = "<%= object.address.lattitude.present? ? object.address.lattitude : '35.7745054' %>" ;
        var longitude = "<%= object.address.longtitude.present? ? object.address.longtitude : '35.7745054' %>";

          // Add a marker to the map
          marker = L.marker([latitude, longitude], { draggable: false }).addTo(map);

        // Initialize the location picker
        $('#work_map').leafletLocationPicker({
          alwaysOpen: true,
          mapContainer: "#fixedMapCont",
          location: {
            latitude: latitude,
            longitude: longitude
          },
        });

                    // Event listener for marker dragend
        marker.on('dragend', function (event) {
          var marker = event.target;
          var position = marker.getLatLng();

          // Update hidden inputs with latitude and longitude
          document.getElementById('latitude').value = position.lat;
          document.getElementById('longitude').value = position.lng;
        });

      });
    </script>