<span>
  کاربر
  <span class="owner">
  <%= link_to activity.owner.display_name, admin_user_path(activity.owner.slug) %>
  </span>
  ثبت نام کرد و
   <span class="recipient">
  <% if activity.recipient.present? %>
  <%= link_to " پروژه" ,admin_project_path(activity.recipient.slug) %>
      <% else %>
    پروژه ای که دیگر نیست
    <% end %>
  </span>
  را شروع کرد
</span>