<section class="fdb-block" style="background-image: url(/types/imgs/shapes/9.svg);" >
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8 text-center"><h1>سولات متداول در مورد قیمت ها</h1></div>
      <div class="col-12 col-sm-6 mx-auto justify-content-right my-5">
        <div class="faqs">

          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5>
                تعرفه قیمت عکاسی به چه صورت است؟
              </h5>
            </div>
            <div class="answer">
              <p>
                قیمت عکاسی بر اساس ساعت است. هیچ محدودیتی در تعداد عکسی که عکاس در یک ساعت میگیرد وجود ندارد و شما
                همه فایل های اصلی را میتوانید دریافت کنید لذا این حالت بسیار مقرون به صرفه تر از قیمت های شاتی یا فریمی است. تا ۴ برابر ارزان تر.
              </p>
            </div>
          </div>

          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5>
                تعداد میانگین هر پکیج یعنی چه؟
              </h5>
            </div>
            <div class="answer">
              <p>
                این عدد یعنی در پروژه های عکاسی مشابه عکاسان دیگر به صورت
                <strong>
                  میانگین
                </strong>
                چند عکس نهایی تحویل مشتری داده اند.
                <br>
                معمولا برای پروژه های عکاسی جدید، این عدد یا ۱۰ تا بیشتر
                یا ۱۰ تا کمتر از
                عدد میانگین درج شده روی هر پکیج است.
              </p>
            </div>
          </div>
          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5>
                آیا می توانم همه عکس های گرفته شده را ببینم؟
              </h5>
            </div>
            <div class="answer">
              <p>
                بله. هر عکسی که عکاس بگیرد بعد از ادیت نور و رنگ در گالری خصوصی تان آپلود می شود؛ چه در اقتصادی چه در
                استاندارد.
              </p>
            </div>
          </div>

          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5>
                آیا می توانیم چند نفری هم عکاسی کنیم؟
              </h5>
            </div>
            <div class="answer">
              <p>
                بله، هر پکیجی که خریداری کنید می توانید
                <strong>
                  هر چند نفری
                </strong>
                 که هستید با هم عکاسی کنید. هیچ محدودیتی در تعداد افراد نیست.
              </p>
            </div>
          </div>

          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5>
                آیا تعرفه ساعتی از تعرقه فریمی ارزان تر است؟
              </h5>
            </div>
            <div class="answer">
              <p>
                بدلیل عدم وجود محدودیت در تعداد عکسی که عکاسی می شود، قیمت ساعتی تا ۴ برابر ارزان تر از قیمت فریمی یا شاتی
                برای مشتریان تمام می شود که موجب صرفه جویی در هزینه ها می شود.
              </p>
            </div>
          </div>

          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5>
                تفاوت پکیج های قیمت عکاسی اقتصادی و استاندارد چیست؟
              </h5>
            </div>
            <div class="answer">
              <p>
                در اقتصادی تعداد مشخصی (عدد روی پکیج ) را می توانید از گالری خصوصی انتخاب و دانلود کنید اما در استاندارد
                همه عکسها را می توانید انتخاب و دانلود کنید.
              </p>
            </div>
          </div>


          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5>
                آیا ادیت نور و رنگ در قیمت ها دیده شده است؟
              </h5>
            </div>
            <div class="answer">
              <p>
                بله. تمامی عکس ها، بدون توجه به پکیجی که گرفته اید، توسط عکاس ادیت نور و رنگ می شوند. باید بدانید که
                ادیت نور و رنگ با رتوش عکس متفاوت است و در صورت نیاز می توانید همراه با قیمت عکاسی، با پرداخت هزینه
                روتوش از این سرویس نیز بهره مند شوید.

              </p>
            </div>
          </div>

          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5>
                آیا عکسها را چاپ هم می کنید؟
              </h5>
            </div>
            <div class="answer">
              <p>
                بله! بعد از اینکه فایل عکس هایتان را از گالری خصوصی دریافت کردید، می توانید آنلاین سفارش چاپ عکس نیز
                بدهید.
                مشاهده
                <%= link_to "قیمت های چاپ عکس" , print_prices_url%>
                در سایت.
              </p>
            </div>
          </div>


          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5>
                آیا قیمت عکاسی در کادرو ارزان است؟
              </h5>
            </div>
            <div class="answer">
              <p>
                باید بدانید که یکی از مراجع قیمت عکاسی در کشورمان، انجمن عکاسان کشور می باشد. اگر سری به تعرفه قیمت
                عکاسی در وبسایت این انجمن بزنید و قیمت عکاسی انجمن را با قیمت عکاسی در کادرو مقایسه کنید، متوجه خواهید
                شد که قیمت عکاسی در کادرو کاملا مقرون به صرفه است.
              </p>
            </div>
          </div>

          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5>
                اگر عکس اضافه بخواهم قیمت آن به چه شکل خواهد بود؟
              </h5>
            </div>
            <div class="answer">
              <p>
                در صورت استفاده از پکیج قیمت عکاسی اقتصادی، شما می توانید برای دانلود هر عکس اضافه، با پرداخت ۱۰ هزار
                تومان اضافه بر قیمت عکاسی در نظر گرفته شده، عکس بیشتری دانلود کنید.
              </p>
            </div>
          </div>

          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5>
                آیا می توان زمان عکاسی را تمدید کرد؟
              </h5>
            </div>
            <div class="answer">
              <p>
                بله، هزینه تمدید برای هر رشته عکاسی در پایین پکیج های آن رشته درج شده است.
              </p>
            </div>
          </div>

          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5>
                آیا می توان به صورت آزمایشی رزرو کرد ولی پرداخت نکرد؟
              </h5>
            </div>
            <div class="answer">
              <p>
                بله، شما می توانید از قسمت رزرو عکاس یک سفارش بسازید و با مراحل رزرو عکاس آشنا شوید. هر زمان تمایل
                داشتید می توانید آنلاین مبلغ را بپردازید و پروژه تان را ثبت نهایی کنید.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

