<section class="fdb-block my-0 py-0" style="background-image: url(/types/imgs/shapes/8.svg);">
  <div class="container">
    <div class="row text-right align-items-center">
      <div class="col-12 col-lg-6 col-xl-5 m-lg-auto text-left">
        <h2 class="text-right">
          ۵۵ ثانیه قیمت شناسی!
        </h2>
        <p class="h3 pb-xl-4 text-right">
          این مدل قیمت گذاری اولین باره که تو ایران اومده،
          برای اینکه راحت تر بفهمید چطوری کار می کنه، این ویدیو رو ببینید
          <span class="fa fa-angle-double-left" style="color: dodgerblue"></span>
        </p>
        <div class="row pt-5">
          <div class="col-3">
            <h3>
              پکیج های استاندارد
            </h3>
          </div>
          <div class="col-9">
            <h4 class="text-primary">
              اگر محدودیت بودجه نداری!
            </h4>
            <p>
              راحت عکاسی کنید و همه عکس ها را با فایل و کیفیت اصلی بگیرید، بدون هیچ محدودیتی.
            </p>
          </div>
        </div>
        <div class="row pt-5">
          <div class="col-3">
            <h3>
              پکیج های اقتصادی
            </h3>
          </div>
          <div class="col-9">
            <h4 class="text-primary">
              اگر محدودیت بودجه داری!
            </h4>
            <p>
              عکاس حرفه ای تو بگیر ولی تعداد معینی فایل دانلود کن که هم کارت راه بیفته هم عکاس حرفه ای رزرو کرده باشی، بقیه عکسها رو هم برای همیشه آنلاین داشته باش.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4 m-auto pt-5 pt-md-0">
        <video src="pricing.mp4" width="100%" controls style="    border-radius: 50px;">
        </video>
      </div>
    </div>
  </div>
</section>

<section class="fdb-block my-0 py-5">
  <div class="container">
    <div class="row ">
      <div class="col-12">
        <h2>
          امکانات قیمت های عکاسی کادرو
        </h2>
        <p class="lead text-center">
          لیست زیر تمام امکانات پکیج های عکاسی کادرو را به شما میگوید:
        </p>
      </div>
    </div>
    <div class="row px-sm-5">
      <div class="col-8 px-0">
        <ul class="price">
          <li class="header text-primary text-right" style="background-color: #f4f7fe;"> ویژگی تعرفه ها</li>
          <li style="font-weight: 800;"> ادیت نور و رنگ همه عکسها
          </li>
          <li style="font-weight: 800;"> حضور عکاس در محل شما
          </li>
          <li style="font-weight: 800;">
            رزرو در آتلیه
          </li>
          <li> مشاهده همه عکسها </li>
          <li> سفارش چاپ و روتوش </li>
          <li> امکان تمدید زمان</li>
          <li> آرشیو آنلاین </li>
          <li> تحویل در محل </li>
          <li>  خرید عکس بیشتر </li>
          <li> دانلود گروهی عکسها </li>
          <li style="    height: 5em;"> امکان دانلود فایل اصلی همه عکسهای پکیج</li>
        </ul>
      </div>
      <div class="col-2 px-0">
        <ul class="price" style="box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
            border-radius: 10px;">
          <li class="header">استاندارد</li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li style=""><span class="fa fa-check text-primary"></span></li>
          <li style="    height: 5em;"><span class="fa fa-check text-primary"></span></li>

        </ul>
      </div>
      <div class="col-2 px-0">
        <ul class="price">
          <li class="header"> اقتصادی</li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>

          <li><span class="fa fa-check text-primary"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li style="text-decoration: line-through;"><span class="fa fa-uncheck text-warning"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li style=""><span class="fa fa-uncheck text-warning"></span></li>
          <li style="    height: 5em;">
            <small style="">
              به اندازه تعداد پکیج، هر عکس بیشتر
              +۱۰.۰۰۰ ت
            </small></li>
        </ul>
      </div>
    </div>
  </div>
</section>