
<section class="fdb-block " data-block-type="contents" data-id="2" draggable="true">
  <div class="container">
    <div class="row text-left align-items-center justify-content-center">

      <div class="col-12 col-lg-8 pt-4 pt-lg-0">
        <h1 class="text-right">
          تعرفه قیمت عکاسی کادرو
        </h1>
        <p class="" style="text-align: justify;">ما سعی کردیم بهترین مدل قیمت گذاری را برای عکاسی در هر کدام از
          شهرهای ایران تنظیم کنیم که <strong>واقعا مقرون به صرفه</strong> باشد.</p>
        <p class="" style="text-align: justify;">۴ دلیل عمده مقرون به صرفه بودن قیمت های عکاسی کادرو:</p>
        <div class="row mt-5">
          <div class="col-12 col-sm-6 fr-box" role="application">
            <div class="fr-wrapper" dir="auto">
              <div aria-disabled="false" class="fr-element fr-view" contenteditable="true" dir="auto" spellcheck="true">
                <h3 style="text-align: justify;"><strong>
                  <span class="fa fa-check text-blue" style="color: dodgerblue"></span>
                  قیمت های ساعتی محور</strong>
                </h3>
                <p class="lead" style="text-align: justify;">همه قیمت ها ساعتی هستند. برای همین در یک ساعت، تعداد
                  نامحدود عکس گرفته می شود که باعث زیاد شدن عکسهای نهایی می شود.</p></div>
            </div>
          </div>
          <div class="col-12 col-sm-6 pt-3 pt-sm-0 fr-box" role="application">
            <div class="fr-wrapper" dir="auto">
              <div aria-disabled="false" class="fr-element fr-view" contenteditable="true" dir="auto" spellcheck="true">
                <h3 style="text-align: justify;">
                  <strong>
                    <span class="fa fa-check text-blue" style="color: dodgerblue"></span>
                    عدم محدودیت تعداد عکسها
                  </strong>
                </h3>
                <p class="lead" style="text-align: right;">عکاس شما بدون محدودیت هر تعداد عکسی که بتواند میگیرد و شما
                  همه عکسها را پس از ادیت در آلبوم شخصی تان دریافت می کند.</p></div>
            </div>
          </div>
          <div class="col-12 col-sm-6 pt-3 pt-sm-0 fr-box" role="application">
            <div class="fr-wrapper" dir="auto">
              <div aria-disabled="false" class="fr-element fr-view" contenteditable="true" dir="auto" spellcheck="true">
                <h3 style="text-align: justify;">
                  <strong>
                    <span class="fa fa-check text-blue" style="color: dodgerblue"></span>
                    تحویل فایل همه عکسها
                  </strong>
                </h3>
                <p class="lead" style="text-align: right;">
                  ارزش عکاسی حرفه ای به آن است که فایل عکس ها را داشته باشید. ما به شما فایل عکسها را میدهیم.
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 pt-3 pt-sm-0 fr-box" role="application">
            <div class="fr-wrapper" dir="auto">
              <div aria-disabled="false" class="fr-element fr-view" contenteditable="true" dir="auto" spellcheck="true">
                <h3 style="text-align: justify;">
                  <strong>
                    <span class="fa fa-check text-blue" style="color: dodgerblue"></span>

                    به فکر جیب شماییم!
                  </strong>
                </h3>
                <p class="lead" style="text-align: right;">
                  پکیج های
                  <em>
                    استاندارد
                  </em>
                  و
                  <em>
                    اقتصادی
                  </em>
                  کادرو مخصوص بودجه و توان مالی شما تنظیم شده اند.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>