/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require shoot_location/font-awesome.min
*= require wordpress/bootstrap
*= require wordpress/froala_blocks
*= require kadro/btn-location
*= require kadro/lightgallery.min
*=
*=
*=
*=
*/

.lg{
  direction: ltr !important;
}

  p{
    text-align: justify;
    direction: rtl;
  }
  .lead{
    text-align: justify;
  }
  .carousel-caption{
    font-size: 0.5rem !important;
    background: #ffffffb5;
    position: sticky;
    left: unset;
    right: unset;
    /* right: 0; */
    bottom: -20px;
    z-index: 10;
    padding-top: 4px;
    padding-bottom: 10px;
    color: gray;
    text-align: right;
    line-height: 0em;
  }

  @media only screen and (max-width:969px) {

    h1 , h2 {
      font-size: 170% !important;
    }
    p , .lead {
      font-size: 120% !important;
      text-align: justify;
    }
  }

  .move{
    position: relative;
    -webkit-animation-name: var(--type); /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 15s; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    animation-name: var(--type);
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }
  .radius {
    border-radius: 3%;
  }

  .one-radius {
    border-radius: 5px 5px 0 0;
  }

  .box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .fix-width{
    width: 100%;
  }
  .fix-height{
    height: 100%;
  }

  .btn-circle.btn-xl {
    font-size: 20px;
    line-height: 0.9em;
  }

  .number-text{
    font-size: 0.9em;
    color: #767575;
  }

  .gallery-frame-heart{
    animation: pulse 1s ease;
    animation-iteration-count: 4;
  }

  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
  }

  .heart{
    position: absolute;
    width: 100px;
    height: 90px;
    top: 50%;
    left: 50%;
    margin-top: -45px;
    margin-left: -50px;
  }
  .heart:before, .heart:after{
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #ff4e37;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  .heart:after{
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
  .love1{
    animation: heart-animation 1s linear .4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .love1:after, .love1:before{
    background-color: #ff4e37;
  }

  @keyframes beating{
    0%{
      transform: scale(1.5);
    }
    100%{
      transform: scale(1);
    }
  }
  @keyframes heart-animation{
    46%{
      transform: scale(1);
    }
    50%{
      transform: scale(1.3);
    }
    52%{
      transform: scale(1.5);
    }
    55%{
      transform: scale(3);
    }
    100%{
      opacity: 0;
      transform: scale(50);
    }
  }
  .col-6-padding{
    padding-right: 5px !important;
    padding-left: 5px !important;
  }

  .gm-style-iw {
    padding-right: 12px !important;
    padding-bottom: 12px !important;
  }

  .gm-style-iw-d {
    overflow: auto !important;
  }
