<% if data.projects.present? %>
<% data.projects.payed.each do |project| %>
<div class="col-xs-3 alert alert-success">
  <%=render "project_box" , :p => project, sms: true %>
</div>
<% end %>
<% end %>
