<h1>Reserve#time_and_date</h1>
<p>Find me in app/views/reserve/time_and_date.html.erb</p>
<%= form_tag reserve_day_start_hours_path do %>
<%= text_field_tag :date , "1396/2/14"   %>
<%= submit_tag %>
<% end %>
