<style>
  .testimonial{
    height: 5em;
    background-size: cover;
  }
    audio{
      width: 100%;
    }
</style>

<section class="fdb-block mt-0 pt-0" style="background-image: url(imgs/shapes/9.svg);">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <h2>
          نظر مشتریان در خدمات چاپ و شاسی کادرو
        </h2>
      </div>
    </div>
    <div class="row mt-5 align-items-center justify-content-center">
      <div class="col-md-8 col-lg-4">
        <div class="fdb-box">
          <div class="row no-gutters align-items-center">
            <div class="col-3">
              <img alt="image" class="img-fluid rounded" src="<%=ShootType.find_by(w_url:"عکاسی-عروسی").avatar_url(:mini) %>">
            </div>
            <div class="col-8 ml-auto">
              <p class="text-right">
                <strong> زهرا جباری </strong><br>
                <em>
                  روتوش + چاپ عکس و شاسی + فتوبوک
                </em>
              </p>
            </div>
          </div>
          <div class="col-12 m-0 p-1 testimonial" >
            <audio controls>
              <source src="/audio/zahra-jabbari.ogg" type="audio/ogg">
              Your browser does not support the audio element.
            </audio>
          </div>
          <div class="row mt-4">
            <div class="col-12">
              <p class="lead">
                "
                من عکاسی عقد از کادرو گرفتم و سفارش چاپ عکس دادم. تحویل گرفتم آلبومو، فوق العاده عالی شده، واقعا ازتون خیلی خیلی ممنونم که انقدر حرفه ای کار انجام دادید
                "
              </p>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-8 col-lg-4">
        <div class="fdb-box">
          <div class="row no-gutters align-items-center">
            <div class="col-3">
              <img alt="image" class="img-fluid rounded" src="<%=ShootType.find_by(w_url:"عکاسی-تولد-و-مهمانی").avatar_url(:mini) %>">
            </div>
            <div class="col-8 ml-auto">
              <p class="text-right">
                <strong>
                طناز هوشیار
                </strong><br>
                <em>
                روتوش + چاپ و شاسی
                </em>
              </p>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12 m-0 p-1 testimonial" >
              <audio controls>
                <source src="/audio/tannaz-hoshyar.ogg" type="audio/ogg">
                Your browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12">
              <p class="lead">
                "
                من یک ساعت عکاسی تولد و مهمانی از کادرو گرفتم با پکیج طلایی که شامل چاپ عکس بود، عکسها به دستم رسید خیلی عالی خیلی با کیفیت و تمیز و مرتب انشالله روز به روز موفق باشید.
                "
              </p>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-8 col-lg-4">
        <div class="fdb-box">
          <div class="row no-gutters align-items-center">
            <div class="col-3">
              <img alt="image" class="img-fluid rounded" src="<%=ShootType.find_by(id:31).avatar_url(:mini) %>">
            </div>
            <div class="col-8 ml-auto">
              <p class="text-right">
                <strong> نفیسه قائمی  </strong><br>
                <em> چاپ شاسی </em>
              </p>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12 m-0 p-1 testimonial" >
              <audio controls>
                <source src="/audio/nafise-ghaemi.ogg" type="audio/ogg">
                Your browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12">
              <p class="lead">
                "                من از کادرو عکاسی نوزاد داشتم، بعد از اینکه فایل عکسهامو گرفتم، از آلبوم شخصیم سفارش چاپ شاسی ۵۰ در ۷۰ دادم؛ چاپ خیلی با کیفیت شده زدم روی دیوار اتاق پسرم. ممنون از شما"
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>